{% extends "blog/base.html" %}

{% block title %}
About me
{% endblock title %}

{% block content %}

<!-- === BEGIN CONTENT === -->
            <div id="content">
                <div class="container background-white">
                    <div class="row margin-vert-30">
                        <div class="col-md-12">
                            <h2>About Me</h2>
                            <div class="row">
                                <div class="col-md-6 animate fadeIn">
                                    <img src="https://scontent-xsp1-1.xx.fbcdn.net/v/t1.0-9/48408293_2247022145539379_8776374058552918016_n.jpg?_nc_cat=109&ccb=2&_nc_sid=174925&_nc_ohc=dFUEKsoQ_a8AX8ILOWW&_nc_ht=scontent-xsp1-1.xx&oh=6fee934a7ff93b765960e585632e044a&oe=5FC497A9" alt="about-me" class="margin-top-10">
                                    <ul class="list-inline about-me-icons margin-vert-20">
                                        <li>
                                            <a href="https://www.linkedin.com/in/nam-ho%C3%A0ng-350835174">
                                                <i class="fa-lg fa-border fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/CoktailDail">
                                                <i class="fa-lg fa-border fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa-lg fa-border fa-dribbble"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa-lg fa-border fa-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 margin-bottom-10 animate fadeInRight">
                                    <h3 class="padding-top-10 pull-left">Pham Minh Hoang Nam
                                        <small>-Back-end Developer </small>
                                    </h3>
                                    <div class="clearfix"></div>
                                    <h4>
                                        <em>Full name: Pham Minh Hoang Nam <br>
                                            Male <br>
                                            Age: 21 <br>
                                            Phone: 085 545 7078 <br>
                                            Email: efert269@gmail.com<br>
                                            Facebook: www.facebook.com/CoktailDail/
                                        </em>
                                    </h4>
                                    <p>I was born and raised in a difficult province in the central region. But that difficulty has forged me into a man with a strong will. Currently I am studying at UT HCMC. I am still trying every day to improve myself. Any suggestions, please send them to my inbox.</p>
                                    <p></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row animate fadeInUp">
                                <h2 class="text-center margin-top-10">Don't be afraid of the enemies attacking you. Be careful who flatter you.</h2>
                                <p class="text-center margin-bottom-30">Sincere concern for others will do wonders. That miracle is not only for others but also for yourself.</p>
                            </div>
                            <hr class="margin-bottom-40">
                            <div class="row">
                                <div class="col-md-6 animate fadeIn">
                                    <!-- My Skills -->
                                    <h3 class="margin-bottom-10">My Skills</h3>
                                    <h3 class="progress-label">Graphic Design
                                        <span class="pull-right">43%</span>
                                    </h3>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 42%">
                                        </div>
                                    </div>
                                    <h3 class="progress-label">English
                                        <span class="pull-right">20%</span>
                                    </h3>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        </div>
                                    </div>
                                    <h3 class="progress-label">Manage
                                        <span class="pull-right">65%</span>
                                    </h3>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                        </div>
                                    </div>
                                    <h3 class="progress-label">Programming
                                        <span class="pull-right">60%</span>
                                    </h3>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        </div>
                                    </div>
                                    <!-- End My Skills -->
                                </div>
                                <div class="col-md-6">
                                    <!-- Accordion -->
                                    <div id="accordion" class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" href="#collapse-One" data-parent="#accordion" data-toggle="collapse">
                                                        Mirum est notare quam
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse-One" class="accordion-body collapse in">
                                                <div class="panel-body">
                                                    <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus,
                                                        qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothicas.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" href="#collapse-Two" data-parent="#accordion" data-toggle="collapse">
                                                        Claritas est etiam processus
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse-Two" class="accordion-body collapse">
                                                <div class="panel-body">
                                                    <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus,
                                                        qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta
                                                        decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" href="#collapse-Three" data-parent="#accordion" data-toggle="collapse">
                                                        Investigationes demonstraverunt
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse-Three" class="accordion-body collapse">
                                                <div class="panel-body">
                                                    <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus,
                                                        qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothicas.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Accordion -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- === END CONTENT === -->

{% endblock content %}