{% extends "blog/base.html" %}

{% block title %}
Add Post
{% endblock title %}

{% block content %}
            <!-- === BEGIN CONTENT === -->
            <div id="content">
                <div class="container background-white">
                    <div class="container">
                        <div class="row margin-vert-30">
                            <!-- Login Box -->
                            <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
                            {% if user.username %}
                                <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data" class="login-page">
                                {% csrf_token %}
                                {% for key,value in form.errors.item %}
                                    {{value}}
                                {% endfor %}
                                    <div class="login-header margin-bottom-30 text-center">
                                    
                                        <h2>Hi {{user.username}}<h2>
                                    
                                        <h2>Add Post</h2>
                                    </div>
                                    <div class="input-group margin-bottom-20">
                                        <span class="input-group-addon">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </span>
                                        {{form.title}}
                                        {% comment %} <input placeholder="Username" class="form-control" type="text"> {% endcomment %}
                                    </div>
                                    <div class="input-group margin-bottom-20">
                                        <span class="input-group-addon">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </span>      
                                            {{form.text}}
                                        {% comment %} <input placeholder="Password" class="form-control" type="password"> {% endcomment %}
                                    </div><div class="input-group margin-bottom-20">
                                            {{form.image}}
                                        {% comment %} <input placeholder="Password" class="form-control" type="password"> {% endcomment %}
                                    </div>
                                    <div class = "text-center ">
                                            <button class="btn btn-primary pull-center margin-bottom-20"  type="submit">Post</button>
                                    </div>
                                    <hr>
                                    
                                </form>
                            {% else %}
                            <div class="login-header margin-bottom-30 text-center">                                    
                                                                 
                                <h2>Please <a href="{% url 'home:login' %}">login</a> to use this function</h2>
                            </div>
                            {% endif %}
                            </div>

                            <!-- End Login Box -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- === END CONTENT === -->

{% endblock %}