{% extends "blog/base.html" %}


{% block title %}Blog{% endblock title %}


{% block content %}

            <!-- === BEGIN CONTENT === -->
            <div id="content">
                <div class="container background-white">
                {% if user.username %}
                    <a href="{% url 'add_post' %}" class="btn btn-violet" style="margin-top:20px">
                        <i class="fa fa-picture-o"></i> Add Post
                        <i class="icon-chevron-right readmore-icon"></i>
                    </a>
                {% endif %}
                    <div class="row margin-vert-30">
                        <!-- Main Column -->
                        <div class="col-md-9">
                            <!-- Blog Post -->
                            {% for item in posts%}
                            <div class="blog-post padding-bottom-20">
                                <!-- Blog Item Header -->
                                <div class="blog-item-header">
                                    <!-- Title -->
                                    <h2>
                                        <a href="{% url 'post_detail' item.id %}">{{item.title}}</a>
                                    </h2>
                                    <div class="clearfix"></div>
                                    <!-- End Title -->
                                </div>
                                <!-- End Blog Item Header -->
                                <!-- Blog Item Details -->
                                <div class="blog-post-details">
                                    <!-- Author Name -->
                                    <div class="blog-post-details-item blog-post-details-item-left">
                                        <i class="fa fa-user color-gray-light"></i>
                                        <a href="#">{{item.author}}</a>
                                    </div>
                                    <!-- End Author Name -->
                                    <!-- Date -->
                                    <div class="blog-post-details-item blog-post-details-item-left">
                                        <i class="fa fa-calendar color-gray-light"></i>
                                        <a href="#">{{item.created}}</a>
                                    </div>
                                    <!-- End Date -->
                                    <!-- Tags -->
                                    <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags">
                                        <i class="fa fa-tag color-gray-light"></i>
                                        <a href="#">???</a>,
                                        <a href="#">???</a>,
                                        <a href="#">???</a>
                                    </div>
                                    <!-- End Tags -->
                                    <!-- # of Comments -->
                                    <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last">
                                        <a href="">
                                            <i class="fa fa-comments color-gray-light"></i>
                                            ??? Comments
                                        </a>
                                    </div>
                                    <!-- End # of Comments -->
                                </div>
                                
                                <!-- End Blog Item Details -->
                                <!-- Blog Item Body -->
                                <a href="{% url 'post_detail' item.id %}">
                                    <div class="blog">
                                        <div class="clearfix"></div>
                                        <div class="blog-post-body row margin-top-15">
                                            <div class="col-md-5">
                                                <img class="margin-bottom-20" src="{{item.image.url}}" alt="thumb1">
                                            </div>
                                            <div class="col-md-7">
                                                <p>{{item.text}}</p>
                                                <!-- Read More -->
                                                <a href="{% url 'post_detail' item.id %}" class="btn btn-primary">
                                                    Read More
                                                    <i class="icon-chevron-right readmore-icon"></i>
                                                </a>
                                                <!-- End Read More -->
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- End Blog Item Body -->
                            </div>
                            {% endfor %}
                            <!-- End Blog Item -->
                            
                            <!-- Pagination -->
                            <ul class="pagination">
                                <li>
                                    <a href="#">&laquo;</a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li class="disabled">
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#">&raquo;</a>
                                </li>
                            </ul>
                            <!-- End Pagination -->
                        </div>
                        <!-- End Main Column -->
                        <!-- Side Column -->
                        <div class="col-md-3">
                            <!-- Blog Tags -->
                            <div class="blog-tags">
                                <h3>Tags</h3>
                                <ul class="blog-tags">
                                    <li>
                                        <a href="#" class="blog-tag">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#" class="blog-tag">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#" class="blog-tag">JavaScript</a>
                                    </li>
                                    <li>
                                        <a href="#" class="blog-tag">jQuery</a>
                                    </li>
                                    <li>
                                        <a href="#" class="blog-tag">PHP</a>
                                    </li>
                                    <li>
                                        <a href="#" class="blog-tag">Python</a>
                                    </li>
                                    <li>
                                        <a href="#" class="blog-tag">Django</a>
                                    </li>
                                    <li>
                                        <a href="#" class="blog-tag">C++</a>
                                    </li>
                                    <li>
                                        <a href="#" class="blog-tag">Heroku</a>
                                    </li>
                                    <li>
                                        <a href="#" class="blog-tag">GitHub</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Blog Tags -->
                            <!-- Recent Posts -->
                            <div class="recent-posts">
                                <h3>Recent Posts</h3>
                                <ul class="posts-list margin-top-10">
                                    <li>
                                        <div class="recent-post">
                                            <a href="">
                                                <img class="pull-left" src="https://2.bp.blogspot.com/-gWJ5RGBa9m0/Vc7ssjbi0wI/AAAAAAAAAG8/SRlDdjrRtKM/s1600/1-mhuwng-loi-can-tranh.jpg" alt="thumb1">
                                            </a>
                                            <a href="#" class="posts-list-title">Not completed yet</a>
                                            <br>
                                            <span class="recent-post-date">
                                                November 2, 2020
                                            </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                    
                                </ul>
                            </div>
                            <!-- End Recent Posts -->
                        </div>
                        <!-- End Side Column -->
                    </div>
                </div>
            </div>
            <!-- === END CONTENT === -->

{% endblock content %}
            